# Python 
.venv
**__pycache__
*.pyc

# git
.git*

# Docker 
docker*
.dockerignore

# Mounted Folders
Scraped_Team_Info
Scraped_Teams_Points
config

# Misc
docs
target
notification_history.json
LICENSE
