# Python
**/__pycache__/
.venv/

# Misc
Scraped_Team_Info/
Scraped_Teams_Points/
config/
discord_bot/
.env
notification_history/
cache/
static/tailwind.css

# IDEs
.idea/
.vscode/

# Node
node_modules/

# Rust
/target

# Docker 
docker-compose.yml
docker/
