<footer class="border-t border-white/10 backdrop-blur-md">
  <div class="mx-auto max-w-6xl px-4 py-6 text-xs text-white/60 space-y-4">
    <nav
      class="flex flex-col sm:flex-row sm:items-center sm:justify-center"
      aria-label="Footer"
    >
      <ul class="flex flex-col gap-2 sm:flex-row sm:gap-4">
        <span class="text-sm sm:text-base font-medium text-white/70">
          I.B.U. Dashboard v{{ app_version }}
        </span>
      </ul>
    </nav>
    <nav
      class="flex flex-col sm:flex-row sm:items-center sm:justify-center"
      aria-label="Footer"
    >
      <ul class="flex flex-col gap-2 sm:flex-row sm:gap-4">
        <li>
          <a
            href="https://github.com/Ednyan/ibu-dashboard/graphs/contributors"
            target="_blank"
            rel="noopener noreferrer"
            class="text-white/50 hover:text-white"
          >
            Credits
          </a>
        </li>

        <li>
          <a
            href="https://github.com/Ednyan/ibu-dashboard/"
            target="_blank"
            rel="noopener noreferrer"
            class="text-white/50 hover:text-white"
          >
            Source Code
          </a>
        </li>

        <li>
          <a href="/notification-admin" class="text-white/50 hover:text-white">
            Admin Panel
          </a>
        </li>
        <li>
          <a
            href="https://github.com/Ednyan/ibu-dashboard/blob/main/CHANGELOG.md"
            target="_blank"
            rel="noopener noreferrer"
            class="text-white/50 hover:text-white"
          >
            Changelog
          </a>
        </li>
      </ul>
    </nav>
  </div>
</footer>
